.otp-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 2rem;
  }
  
  .otp-input {
    height: 3rem;
    width: 3rem !important;
    font-size: 1.25rem;
    border-radius: 3px;
    border: 2px blue solid;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 600px) {
    .otp-container {
      padding: 1rem;
      gap: 5px;
    }
  
    .otp-input {
      height: 2.5rem;
      width: 2.5rem !important;
      font-size: 1rem;
    }
  }
  